<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC  "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
    <bean id="triangle" class="Triangle" name="triangle-name">
        <property name="A" ref="zeroPoint">
            <!--<idref = "zeroPoint"/>-->

        </property>
        <property name="B">
            <bean class="Point">
                <property name="x" value="5"/>
                <property name="y" value="2"/>
            </bean>
        </property>
        <property name="C">
            <bean class="Point">
                <property name="x" value="7"/>
                <property name="y" value="9"/>
            </bean>
        </property>
    </bean>
    <bean id="zeroPoint" class="Point">
        <property name="x" value="0"/>
        <property name="y" value="1"/>
    </bean>
    <alias name="triangle" alias="triangle-alias"/>


</beans>




